#previous files
tests
tmp/ 
__pycache__/

#simvue files
simvue.ini
simvue.toml
simvue_sender.sh
.simvue/

#Saved Models
Weights/
*.pth
*.pt 

#Venv
.venv/
venv/

#Saved Plot
Plots/
*.png
*.pdf
*.svg

#SLURM files
*.file
*.out

#Log files
*.log

#Submission Script
*.sh

#Data
Data/
*.npy
*.npz
*.h5

